*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

body > header{
    background-color:#0b2952;
    padding:16px;
    color:white;
}

header li{
    display:inline;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:10px;
}

header li a{
    color:white;
    text-decoration:none;
}

.container{
    width:1200px;
    margin:0 auto;
}

.articles{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.articles article img{
    width:100%;
}

.articles article{
    width:30%;
}

section{
    padding-top:16px;
}

section h2,
.articles article{
    margin-bottom:16px;
}

.articles article h3{
    margin-top:8px;
    margin-bottom:8px;
}

.articles article a{
    background-color:#5c718e;
    color:white;
    padding:6px;
    display:inline-block;
    text-decoration:none;
    font-weight:bold;
    margin-top:5px;
}

.articles article a:hover{
    text-decoration:underline;
}

.articles article p,
.articles article a{
    font-family:Arial, Helvetica, sans-serif;

}

.articles article h3{
    font-size:24px;
}

section h2{
    font-size:32px;
}

#sport{
    background-color:rgba(0,255,0,0.1);
}

#sport .articles article a{
    background-color:rgba(31, 89, 31, 0.4);
}

#economy{
    background-color:#f8f59f;
}

#economy .articles article a{
    background-color:#ff9f1a;
}

#entretenimento{
    background-color:#cccc;
}

#entretenimento .articles article a{
    background-color:rgba(0,0,0,0.5);
}

#tecnologia{
    background-color:rgba(0,0,200,0.5);
}

#tecnologia .articles article a{
    background-color:rgba(0,0,255,0.8);
}